<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table align="center">
            <tr>
                <td>
                    <img src="{% static 'images/blood_donor_icon.png' %} " width="150" height="100">
                </td>
                <td>
                    <font size="8" face="Arial">
                        Blood Donor
                    </font>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <marquee>
                      <font size="3" face="Arial">
                        Donate Blood and Save life's
                    </font></marquee>
                </th>
            </tr>
        </table>

        <table align="center" border="2">
            <tr>
                <th width="120"> Home </th>
                <th width="120"> Donor </th>
                <th width="120"> Organization </th>
                <th width="120"> About Us </th>
                <th width="120"> Admin </th>
            </tr>
        </table>
        <table align="center">
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td width="350">
                    <font size="4" face="Arial Rounded MT Bold">
                    A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole-blood components). Donation may be of whole blood, or of specific components directly (the latter called apheresis). Blood banks often participate in the collection process as well as the procedures that follow it.
                    </font>
                </td>
                <td>
                    <img src="{% static 'images/main_page_image.png' %} " width="250" height="250">
                </td>
            </tr>
        </table>
</body>
</html>